<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/494ffab7-1bd2-4191-adf3-05817c415c52/resourcegroups/MaerskLine01rg/providers/Microsoft.Web/sites/MaerskLine01</ResourceId>
    <ResourceGroup>MaerskLine01rg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://maerskline01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>maerskline01.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MaerskLine01</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MaerskLine01</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Maersk_LineContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:maerkslineserver01.database.windows.net,1433;Initial Catalog=Maerkslinedb;Persist Security Info=False;User ID=maersklineadmin01;Password=Password11" Name="Server=tcp:maerkslineserver01.database.windows.net,1433;Initial Catalog=Maerkslinedb;Persist Security Info=False;User ID=maersklineadmin01;Password=Password11" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Maersk_Line.Models.Maersk_LineContext, Maersk_Line" MigrationConfiguration="Maersk_Line.Migrations.Configuration, Maersk_Line" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Maersk_LineContext-Web.config Connection String">
      <ParameterValue>Server=tcp:maerkslineserver01.database.windows.net,1433;Initial Catalog=Maerkslinedb;Persist Security Info=False;User ID=maersklineadmin01;Password=Password11</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Maersk_LineContext-Web.config Connection String">
      <ParameterValue>Server=tcp:maerkslineserver01.database.windows.net,1433;Initial Catalog=Maerkslinedb;Persist Security Info=False;User ID=maersklineadmin01;Password=Password11</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Maersk_LineContext-Web.config Connection String">
      <ParameterValue>Server=tcp:maerkslineserver01.database.windows.net,1433;Initial Catalog=Maerkslinedb;Persist Security Info=False;User ID=maersklineadmin01;Password=Password11</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Maersk_LineContext-Web.config Connection String">
      <ParameterValue>Server=tcp:maerkslineserver01.database.windows.net,1433;Initial Catalog=Maerkslinedb;Persist Security Info=False;User ID=maersklineadmin01;Password=Password11</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>